@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: 100%;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background-image: url('https://static.vecteezy.com/system/resources/previews/032/426/069/non_2x/generative-ai-cyberpunk-style-game-bar-or-cafe-night-scene-of-big-city-futuristic-nostalgic-80s-90s-neon-lights-vibrant-colorsrealistic-horizontal-free-photo.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg-color: #E1E6FA;

  --border-left-color: rgba(255, 255, 255, 0.20);
  --border-top-color: rgba(255, 255, 255, 0.33);
  --border-right-color: rgba(0, 0, 0, 0.15);
  --border-bottom-color: rgba(0, 0, 0, 0.5);

  --color-0: #FFE135; 
  --color-1: #FF6E96; 
  --color-2: #56A0D3; 
  --color-3: #FF7F00; 
  --color-4: #FFD700; 
  --color-5: #8A2BE2; 
  --color-6: #FFD700; 
  --color-7: #FF0000; 

  --button-color-t: rgba(200, 200, 200, 1);
  --button-color-r: rgba(150, 150, 150, 1);
  --button-color-b: rgba(120, 120, 120, 1);
  --button-color-l: rgba(222, 222, 222, 1);

  --cols: 10;
  --rows: 18;
  --tile-size: 20px;
  --border-width: 5px;
}

.color-0 {
  background-color: #ADD8E6;
}

.color-1 {
  background-color: var(--color-1);
}

.color-2 {
  background-color: var(--color-2);
}

.color-3 {
  background-color: var(--color-3);
}

.color-4 {
  background-color: var(--color-4);
}

.color-5 {
  background-color: var(--color-5);
}

.color-6 {
  background-color: var(--color-6);
}

.color-7 {
  background-color: var(--color-7);
}

.grid-square {
  width: var(--tile-size);
  height: var(--tile-size);
  border-radius: 4px;
}

* {
  box-sizing: border-box;
}

.grid-board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-self: flex-start;
  grid-area: c;
  grid-gap: 1px;
  margin-top: 10px;
}

.next-block {
  display: grid;
  grid-template-columns: repeat(4, var(--tile-size));
  grid-area: l;
  align-self: flex-end;
  position: relative;
  top: 25px;
}

.button {
  display: block;
  padding: 1em;
  border: none;
}

.score-board {
  grid-area: r;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  align-items: center; 
  color: white;
  margin-left: 23px;
  font-size: 1em;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  text-shadow: 1px 1px 1px black;
}

.score-board-button {
  display: inline-block; 
  padding: 1em;
  margin: 5px;
  background-color: var(--color-0);
  border: 2px solid var(--color-1); 
  color: var(--color-1);
  font-size: 1rem;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  text-decoration: none;
}

.score-board-button:hover {
  background-color: var(--color-1); 
  color: var(--color-0); 
}

.button {
  background-color: var(--color-0);
  border-top-color: var(--button-color-t);
  border-left-color: var(--button-color-l);
  border-right-color: var(--button-color-r);
  border-bottom-color: var(--button-color-b);
}

.score-board .button {
  flex-grow: 1;
}

.controls {
  grid-area: b;
  display: flex;
  position: relative;
  top: 255%;
  align-items: flex-end;
  flex-direction: row;
}

.control-button {
  --size: calc(var(--tile-size) * 3);
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  font-size: 9px;
  font-weight: bold;
  font-family: 'Press Start 2P', sans-serif;
  text-shadow: 1px 1px 1px black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  cursor: pointer;
  margin-right: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: linear-gradient(to bottom right, #ff0066, #ff6600);
  color: #fff;
  border: 2px solid #fff;
}

.control-button.control-rotate {
  background: linear-gradient(to bottom right, #00ccff, #ff00ff);
}

.control-button.control-right {
  background: linear-gradient(to bottom right, #ff9900, #ffff00);
}

.control-button.control-down {
  background: linear-gradient(to bottom right, #00ffcc, #33cc33);
}

.control-button:hover {
  filter: brightness(0.9);
}


.message-popup {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 70%;
  max-width: 400px;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.9);
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  text-align: center;
}

.message-popup.hidden {
  display: none;
}

.App {
  --col-side: calc(var(--tile-size) * 4);
  --col-center: calc(var(--tile-size) * 10);
  --grid-height: calc(var(--tile-size) * 4);

  width: calc(var(--tile-size) * (4 + 1 + 10 + 1 + 4));
  margin: auto;
  display: grid;

  grid-gap: var(--tile-size) var(--tile-size);
  grid-template-columns: var(--col-side) var(--col-center) var(--col-side);
  grid-template-rows: 120px var(--grid-height) 100px;
  grid-template-areas: "h h h"
                       "l c r"
                       ". b .";
}

.App-header {
  grid-area: h;
  position: absolute;
  width: 400px;
  left: 50%;
  transform: translateX(-50%);
}